<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="tablename" value="list"/>
    <add key="medlinetable" value="medline" />
    <add key="CBMtable" value="CBM" />
  </appSettings>
    <connectionStrings>
        <add name="dbconnString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=trans_db.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>

</configuration>
